###
### A domain for further sandboxing privileged apps targeting SDK level < 37.
###

until_board_api(202604, `
type priv_app_36, domain;
')

typeattribute priv_app_36 coredomain;
app_domain(priv_app_36)

# Access the network.
net_domain(priv_app_36)
# Access bluetooth.
bluetooth_domain(priv_app_36)

# Allow the allocation and use of ptys
# Used by: https://play.privileged.com/store/apps/details?id=jackpal.androidterm
# TODO: Evaluate whether this is needed for priv-apps. The example provided is
# not a priv-app.
create_pty(priv_app_36)

priv_app_domain(priv_app_36)

allow priv_app_36 domain:memfd_file ioctl;
allowxperm priv_app_36 domain:memfd_file ioctl ashmem_ioctls;
allow priv_app_36 ashmem_libcutils_device:chr_file open;
