###
### A domain for further sandboxing privileged apps.
###

# priv_app is the type assigned to priv-apps which are running with a recent targetSDK. Apps running
# older targetSDKs are assigned a type below (e.g. priv_app_36).

type priv_app, domain;

starting_at_board_api(202604, `
# This type is assigned to priv-apps running with targetSdkVersion <= 36.
type priv_app_36, domain;
')

# system/sepolicy/public is for vendor-facing type and attribute definitions.
# DO NOT ADD allow, neverallow, or dontaudit statements here.
# Instead, add such policy rules to system/sepolicy/private/*.te.
