userdebug_or_eng(`
  typeattribute aidl_lazy_test_server coredomain;

  # Exempt userdebug-only coredomains from Treble labeling tests (b/493040969)
  typeattribute aidl_lazy_test_server treble_labeling_violators;

  init_daemon_domain(aidl_lazy_test_server)

  binder_use(aidl_lazy_test_server)
  binder_call(aidl_lazy_test_server, binderservicedomain)

  add_service(aidl_lazy_test_server, aidl_lazy_test_service)
')
