init_daemon_domain(init_dev_config)
use_bootstrap_libs(init_dev_config)

set_prop(init_dev_config, apexd_select_prop)
set_prop(init_dev_config, media_variant_prop)
set_prop(init_dev_config, telephony_config_prop)
