# process memory guardian daemon
type pmgd, domain;
typeattribute pmgd coredomain;

# This type is associated with the binary in file_contexts.  It is consumed
# by the init_daemon_domain macro.
type pmgd_exec, system_file_type, exec_type, file_type;

type pmgd_data_file, file_type, data_file_type, core_data_file_type;

init_daemon_domain(pmgd)

# Allow access to cgroup files
allow pmgd cgroup_v2:dir r_dir_perms;
allow pmgd cgroup_v2:file rw_file_perms;

# Allow pmgd to clean up cgroups as per calls to kill_process_group
allow pmgd cgroup_v2:dir rmdir;

# Allow pmgd to fully manage its own directory
allow pmgd pmgd_data_file:dir rw_dir_perms;
allow pmgd pmgd_data_file:file create_file_perms;

# Allow pmgd to write to statsd socket.
unix_socket_send(pmgd, statsdw, statsd)

# Allow procfs access so pmgd can find the equivalent of systemui_app
# TODO(b/492554315): Remove this once systemui_app is available in platform
r_dir_file(pmgd, {
  appdomain
  -ephemeral_app
  -pcc_component
  -isolated_app_all
  -network_stack
  -priv_app_all
  -shell
  -sdk_sandbox_all
  -system_app
  -untrusted_app_all
})
r_dir_file(pmgd, system_server)
r_dir_file(pmgd, surfaceflinger)
dontaudit pmgd domain:dir { open search read getattr };

# Allow to exec the perfetto cmdline client and pass it the trace config on
# stdint through a pipe. It allows statsd to  capture traces and hand them
# to Android dropbox.
domain_auto_trans(pmgd, perfetto_exec, perfetto)
